@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');

html, 
body {
  font-size:x-small;
  font-family: 'MedievalSharp', cursive;
}

textarea {

  margin-top: 500px;
  margin-left: 50px;
}

// button {
//    margin-top: 100px;
//   margin-left: 50px;
// }

.story {
  margin-top: 200px;
  // margin-left: 500px;
  font-size: xx-large;
  font-family: 'MedievalSharp', cursive;

}

.container {
  display: grid;
grid-template-columns: 1fr 1fr;
}

